$utilities: map-merge(
    $utilities, (
        "max-width": map-merge(
            map-get($utilities, "max-width"),
            (
                responsive: $enable-responsive-mw-classes,
                values: map-merge(
                    map-get(map-get($utilities, "max-width"), "values"),
                    (
                        25: 25%,
                        50: 50%,
                        75: 75%
                    )
                )
            ),
        ),
    )
);