.section {
    max-width: 1500px;
    margin: 0 auto;
    .container {
        padding: 5rem 0;
    }
    .horizontal {
        display: flex;
        align-items: center;
    }
    .dark {
        background-color: black;
        color: white;
    }
}